.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  width: 100%;
  max-width: 1130px;
  margin: 0 auto;
}
body {
  padding-top: 30px;
  background-color: white;
  font-family: $font;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $text-color;
}
.button {
  border-radius: 25px;
  padding: 15px 30px;
  &-outline {
    color: #f5830b;
    background-color: transparent;
    border: 2px solid #e7e7e7;
  }
  &-primary {
    color: #ffffff;
    background-image: linear-gradient(
      rgba(246, 113, 2, 1),
      rgba(244, 169, 30, 1)
    );
  }
}
.heading {
  font-weight: 700;
  color: $heading-color;
  margin-bottom: 25px;
  font-size: 40px;
}
.text {
  line-height: 26px;
  color: $text-color;
}
.part {
  line-height: 24px;
  color: $yellow-color;
  text-transform: uppercase;
  margin-bottom: 18px;
  letter-spacing: 0.6px;
}
